# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
env/

.env

data/occupations_for_classification/occupations_classified/data_processing.log

data/locations/geocoding.log